.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.padding {
	padding: 20px;
}

.padding-50 {
	padding: 50px;
}

.padding-100 {
	padding: 100px;
}

.margin {
	margin: 20px;
}

.margin-100 {
	margin: 100px;
}

.clearfix {
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.icon-imgs {
	img {
		height: 70px;
	}

	i {
		font-size: 12px;

		@include bp {
			font-size: 20px;
		}
	}
}

.text-center {
	text-align: center;
}

.center {
	margin: auto;
}