body {
	margin: 0;
	font-family: $font-stack;
	color: $font-color;
	overflow-y: scroll;

	p {
		font-family: $font-stack-p;
		color: $font-color-p;

		@include bp {
			font-size: 30px;
		}
	}

	h1 {
		font-family: $font-stack-h1;
		color: $font-color-h1;

		@include bp {
			font-size: 50px;
		}
	}

	h2 {
		font-family: $font-stack-p;
		color: $font-color-p;
		font-size: 20px;
		text-decoration: none;
		
		@include bp {
			font-size: 30px;
		}
	}

	.container {
		margin: auto;
		width: $container-width;
		background: $background-container;
		box-shadow: $container-shadow;
		z-index: 0;

		@include bp {
			width: 100%;
		}

		@import 'header';

		@import 'menu';

		@import 'content';

		@import 'footer';
	}

	.background {
		height: 100%;
		width: 100%;
		background: $background-image;
		top: 0;
		position: fixed;
		z-index: -1;
	}


	a {
		text-decoration: none;
		color: $link-color;

		&:hover {
			color: $link-hover-color;
		}
	}
}


.contact-content {

	@include bp {
		flex-direction: column;
	}

	.contact-input {
		background: none;
		border: none;
		outline: none;
		text-align: center;
		color: $link-color;
		font-style: italic;


		@include bp {
			font-size: 20px;
		}

		&:hover {
			color: $link-hover-color;
		}
	}

	.contact-item {
		transition: all .2s ease-in-out;

		&:hover {
			transform: scale(1.2);
		}

		@include bp {
			padding: 100px;

			img {
				height: 150px;
			}
		}
	}
}

@import 'helpers';