body {
	margin: 0;
	font-family: $font-stack;
	color: $font-color;
	overflow-y: scroll;

	p {
		@include bp {
			font-size: 30px;
		}
	}

	h1 {
		@include bp {
			font-size: 50px;
		}
	}

	.container {
		margin: auto;
		width: $container-width;
		background: $container-background;
		box-shadow: $container-shadow;
		z-index: 0;

		@include bp {
			width: 100%;
		}

		@import 'header';

		@import 'menu';

		@import 'content';

		@import 'footer';
	}

	.background {
		height: 100%;
		width: 100%;
		background: $background-image;
		top: 0;
		position: fixed;
		z-index: -1;
	}
}